<form type = "button" action="/insert_restaurants" method="post">
    <div class="row">
        <div class="col-md-12">
        <br>
            <div class="form-group">
                <label for="res_name">Restaurant Name</label>
                <input type="text" class="form-control" id="res_name" name = "name" placeholder="Enter a restaurant name." >
            </div>
            <br>
            <div class="form-group">
                <label for="res_type">Restaurant Type</label>
                <input type="text" class="form-control" id="res_type" name = "type" placeholder="Enter restaurant." >
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-warning">Submit</button>        
    </div>
</form>