<div class= "row" style="background-color:gray;">
   
    <div class= "col-sm-5" >
     <br>
    <br>
    <br>
    <br>
  
    <h3 style="color:orange;">Insert your Review </h3>
    <form action = "">
        <br>
        <br>
        <br>
        <p style="margin-left: -95px; color:orange; " >Review Title:</P>
        <input type="text" name="" value="" placeholder="Enter review title">
        <br>
        <br>
        <p style="margin-left: -135px; color:orange;" >Rating:</P>
        <input type="text" name="" value="" placeholder="Put your review here" style="margin-left: -3px;">
        <br>
        <br>
        <p style="margin-left: -100px; color:orange";>Review Body: </p>
        <textarea name="message" rows="10" cols="30" placeholder="Please write doen your review here." style="margin-right: -38px;" ></textarea><br>
  
        <input type="submit" style="color:gray">  <br> <br>

    </form>
    </div>

    <div class= "col-sm-7" >
        <br>
        <br>
        <br>
        <br>
        <h3 style="color:orange"> Recent reviews </h3>
            
        
            <% for( var i = 0; i < data.length; i ++ ) { %>

            <div class="jumbotron jumbotron-fluid" style="margin-left:180px;margin-right:190px;">
               <div class="container">
                    <h4><%- data[i].username %></h4>
                    <p class="lead"><%- data[i].title %></p>
                    <p class="lead"><%- data[i].body %></p>
                    <p> Rating : <%- data[i].rating %> </p>
              </div>
            </div><br>

            <% } %>

    </div>
</div>