<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">id</th>
      </tr>
    </thead>
    <tbody>
    
    <% for(var i = 0; i < foodItems.length; i++ ) { %>
        <tr>
            <th scope="row"> <%- i %> </th>
            <td><%- foodItems[i].name %></td>
            <td><%- foodItems[i].type %></td>
            <td><%- foodItems[i].id %></td>

        </tr>

    <% } %>

    </tbody>
  </table>